---
import Layout from '../layouts/Layout.astro';
---

<Layout title="InfoJobs - Encuentra tu trabajo">
	<main>
		{Array.from({ length: 10 }).map((_, i) => (
			<section class="p-5 bg-white shadow-md rounded-md mb-5">
				<h2 class="text-2xl font-semibold">Oferta de trabajo</h2>
				<p class="text-lg">Descripción de la oferta de trabajo</p>
			</section>
		))}
	</main>
</Layout>

<style>
	
</style>
