---
import Button from "./Button.astro";
import Logo from "./Logo.astro";
---

<header id="header-nav" class="fixed top-0 z-50 mb-4 flex flex-row justify-between w-full px-5 md:px-28 py-4">
    <a href="/">
        <Logo class="w-auto h-[45px]" />
    </a>
    <Button />
</header>
